fastapi
uvicorn[standard]
sqlalchemy
aiomysql
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-multipart
minio
langchain
langchain-community
langchain-google-genai
llama-index
pymysql
python-dotenv
